.hot {
  width: 95%;
  height: 1.07rem;
  margin: .27rem;
  line-height: 1.07rem;
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  font-size: .37rem;
  color: #333;
  text-indent: 1em;
  border-radius: .07rem;
}
