.mmm_container {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}
.mmm_header {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 1.33rem;
  background-color: #ff841d;
  position: relative;
}
.mmm_header .logo {
  width: 4.95rem;
  height: .67rem;
  padding: .27rem .4rem;
  background: url('../images/header_logo.png') no-repeat center center;
  background-size: 4.95rem .67rem;
  position: absolute;
  top: .33rem;
  left: .27rem;
}
.mmm_header .download {
  width: .93rem;
  height: .93rem;
  background: url('../images/header_app.png') no-repeat center center;
  background-size: .93rem .93rem;
  position: absolute;
  top: .21rem;
  right: .27rem;
}
.mmm_search {
  width: 100%;
  background-color: #fff;
}
.mmm_search .search_input {
  width: 7.63rem;
  height: .73rem;
  line-height: .73rem;
  margin: .33rem .27rem;
  background-color: #f1f1f1;
  border-radius: .37rem;
  font-size: .24rem;
}
.mmm_search .search_btn {
  width: 1.73rem;
  height: .73rem;
  text-align: center;
  line-height: .73rem;
  padding: 0;
  margin: .33rem 0;
  border-radius: .37rem;
  background-color: #ff841d;
  border: 1px solid transparent;
  font-size: .32rem;
  color: #fff;
}
.mmm_footer {
  padding: .67rem 0;
  width: 100%;
  background-color: #f1f1f1;
}
.mmm_footer .foot_nav {
  width: 100%;
  font-size: .32rem;
  height: .93rem;
  line-height: .93rem;
}
.mmm_footer .foot_nav ul li {
  float: left;
  text-align: center;
  width: 33.33%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.mmm_footer .foot_nav ul li a {
  color: #666;
}
.mmm_footer .foot_nav li.br {
  border-right: 1px solid #ccc;
}
.mmm_footer .foot_text {
  text-align: center;
  margin-top: .4rem;
}
.mmm_footer .foot_text p {
  padding: 0;
  margin: 0;
  color: #666;
}
.mmm_footer .foot_text .link-t a {
  color: #e92322;
}
.mmm_footer .foot_text .link-t span {
  padding: 0 .13rem;
}
.mmm_footer .foot_text .link {
  font-size: .27rem;
}
.mmm_product {
  width: 100%;
  background-color: #fff;
  margin-top: .27rem;
}
.mmm_product .pro_title {
  width: 100%;
  height: .93rem;
  background-color: #ff9e22;
  position: relative;
}
.mmm_product .pro_title h4 {
  padding-left: .27rem;
  line-height: .93rem;
  font-size: .37rem;
  color: #fff;
  font-weight: normal;
}
.mmm_product .pro_title .more {
  position: absolute;
  top: .16rem;
  right: .27rem;
  width: .61rem;
  height: .61rem;
  background: url('../images/more.png') no-repeat center center;
  background-size: .61rem .61rem;
}
.mmm_product .pro_content {
  width: 100%;
  background-color: #fff;
}
.mmm_product .pro_content ul li {
  width: 100%;
  padding: .4rem  .13rem ;
  border-bottom: 1px solid #ccc;
}
.mmm_product .pro_content ul li .pro_img {
  width: 25%;
  font-size: .32rem;
  background-color: pink;
}
.mmm_product .pro_content ul li .pro_info {
  width: 75%;
  height: 2.4rem;
  padding-left: .27rem;
  position: relative;
  color: #666;
}
.mmm_product .pro_content ul li .pro_info .info_title {
  font-size: .32rem;
  line-height: .4rem;
}
.mmm_product .pro_content ul li .pro_info .info_title .prize {
  color: #ff841d;
  padding: 0 10px;
}
.mmm_product .pro_content ul li .pro_info .info_other {
  width: 100%;
  padding-right: 30px;
  position: absolute;
  bottom: .4rem;
  font-size: .16rem;
}
.mmm_product .pro_content ul li .pro_info .info_other .time {
  left: 0;
}
.mmm_product .pro_content ul li .pro_info .info_other .com {
  right: 0;
}
.btn_more {
  margin: .13rem .13rem;
  background-color: #f1f1f1;
  height: .8rem;
  width: 97%;
}
.cate_nav {
  width: 100%;
  height: .93rem;
  line-height: .93rem;
  font-size: .32rem;
  border-top: 1px solid #ccc;
  background: linear-gradient(#fff, #ccc);
}
.cate_nav ol {
  float: left;
  padding-left: .27rem;
}
.cate_nav ol li {
  float: left;
}
.cate_nav ol li a {
  color: #000;
}
.cate_nav button {
  float: right;
  margin-right: .27rem;
  transform: translateX(-0.27rem);
  margin: 0;
  padding: .13rem .27rem;
  margin-top: .13rem;
  background-color: #eee;
  box-shadow: 0 0 .13rem .05rem inset #ccc;
}
.page {
  width: 100%;
  height: 2rem;
  padding-top: .27rem;
  padding-bottom: .4rem;
}
.page .btn_prev,
.page .btn_next,
.page .list_page {
  line-height: .93rem;
  font-size: .4rem;
  width: 33.33%;
  float: left;
}
.page .btn_prev button,
.page .btn_next button,
.page .list_page button {
  margin: 0 .53rem;
  width: 2rem;
  padding: 10px 0;
  background-color: #e0e0e0;
}
.page .list_page span.page_box {
  display: block;
  width: 2.67rem;
  text-align: center;
}
.page .list_page span.page_box i {
  position: absolute;
  padding: 0 .07rem;
}
.page .list_page select {
  width: 2.2rem;
  height: .93rem;
  text-align: center;
  margin: 0 .67rem;
  border: 1px solid #000;
}
