.mmm_header {
  background-color: #F4483E;
}
.yhq_main {
  width: 100%;
}
.yhq_main ul {
  width: 100%;
  padding: .4rem .13rem;
}
.yhq_main ul li {
  width: 32%;
  border: 1px solid #ccc;
  padding: .13rem;
  margin-right: .13rem;
  margin-bottom: .13rem;
  text-align: center;
  font-size: .32rem;
  float: left;
}
.yhq_main ul li a img {
  width: 50%;
  margin: 0 auto;
}
.yhq_main ul li a p {
  margin: 0;
  padding: 0;
}
.yhq_main ul li li:nth-child(3n+3) {
  margin-right: 0;
}
